body {
  height: 100vh;
  /* background-color: #f0f0f0; */
  background-color: rgb(37, 37, 38);
}

.code {
  height: 100vh;
  background-color: rgb(37, 37, 38);
  color: white;
}

.title {
  background-color: #f0f0f0;
  height: 50vh;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.about {
  color: white;
  background-color: #326ce5;
  font-family: "Ubuntu", sans-serif;
  height: 50vh;
}

.yaml-key {
  color: rgb(204, 145, 120);
}

.yaml {
  color: rgb(156, 220, 254);
  padding-top: 12px;
}

.footnote {
  font-size: smaller;
  width: 100%;
}
